<!doctype html>
<html lang="en">
<!doctype html>
<html lang="en">

<head>
</head>

<body>
<div class="container-fluid">
  <div class="header">

    <img class="logo" src="./assets/img/stegaware_logo.png" />
    <div class="header-menu">
      <a [routerLink]="['/teacher/home']" class="nav-link"><span class="ec ec-books"></span> Quizzes</a>
       <a [routerLink]="['/teacher/createquiz']" class="nav-link"><span class="ec ec-memo"></span> Create</a>
       <a [routerLink]="['/teacher/uploadquiz']" class="nav-link"><span class="ec ec-memo"></span> Upload</a>
       <a [routerLink]="['/teacher/allstudents']" class="nav-link"><span class="ec ec-couple"></span> Users</a>
    </div>
    <div class="header-icons">
      <a> <i class="fa-solid fa-user"></i> {{username}}</a>
      <a  [routerLink]="['/']" class="nav-link" (click)="logoutuser()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
    </div>
  </div>
</div>
</body>

</html>