
<app-studentmenu></app-studentmenu>
<div *ngIf="load; then thenBlock else myelseBlock"></div>
<ng-template #thenBlock>
  <app-loading></app-loading>
</ng-template>
<ng-template #myelseBlock>
  <div class="container mx-auto mt-4">
    <div class="quiz_box activeQuiz" style="">
      <header>
        <div class="title">{{quizname}}</div>
        <div class="timer">
          <div class="time_left_txt">Time Left</div>
          <div class="timer_sec">{{minutes}}:{{seconds}}</div>
        </div>
      </header>

      <!--PROGRESS BAR-->
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width':progress+'%'}"
             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <section>
        <div class="que_text" [innerHTML]="currentQuestion.questionText"></div>
        <div class="option_list" id="options"
             *ngFor="let user of currentQuestion.options;index as i">

          <label class="options">{{user.optionText}}<input type="radio" value="{{user.optionValue}}" name="option"
                                                           (change)="answer(currentQuestion.questionId,user.optionValue)"> <span class="checkmark"></span> </label>
        </div>
      </section>

      <div class="bttns mb-2" style="align-items: center; border: solid" *ngIf="!finalsubmit">
        <div class="btn"> <button class="btn btn-primary" [disabled]="questionCounter == 0" (click)="previousQuestion()">
          <i class="fa-sharp fa-solid fa-chevron-left"></i></button> </div>
        <div *ngIf="questionCounter != allQuestions.length-1" class="btn"> <button class="btn btn-primary" (click)="nextQuestion()">
          <i class="fa-sharp fa-solid fa-chevron-right"></i></button> </div>
        <div  *ngIf="questionCounter == allQuestions.length-1" class="btn"> <button class="btn btn-success" data-toggle="modal"
                                                             data-target="#myModal" (click)="submitQuiz()">Submit</button> </div>
      </div>
      <footer>
        <div class="total_que">({{questionCounter+1}} of {{totalQuestion}}) </div>

      </footer>

    </div>

    <h4 *ngIf="finalsubmit">You have scored {{score}}/{{totalQuestion}}</h4>
  </div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="card">
        <div class="text-right cross"> <i class="fa fa-times"></i> </div>
        <div class="card-body text-center">
          <h4>CONGRATULATIONS!</h4>



          <h4>You have scored {{score}}/{{totalQuestion}}</h4>

          <ng-container *ngIf="score <1">
Reward for score: 0
          </ng-container>


          <ng-container *ngIf="score is 1/2">
            Reward for score is 1
          </ng-container>

          <ng-container *ngIf="score is 2/2">
            Reward for score is 2
          </ng-container>
          <div *ngFor="let one of allQuestions;index as j">
            <div class="container mt-sm-5 my-1">
              <div class="question ml-sm-5 pl-sm-5 pt-2">

                <div class="py-2"> <ng-container *ngIf="answerCorrect.includes(j)">
                  "CORRECT"
                </ng-container> <b>{{j+1}} - <div [innerHTML]="one.questionText"></div></b></div>

                <ng-container *ngFor="let user of currentQuestion.options;index as i">

                  {{user.optionText}}










                </ng-container>
                <ng-container *ngIf="answerCorrect.includes(j)">
                  "CORRECT"
                </ng-container>




              </div>


            </div>
          </div>






          <button class="btn btn-out btn-square continue mt-5" style="cursor: pointer;"
                  (click)="navigatehome()">CONTINUE</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
