<app-teachernav></app-teachernav>

<div>
  <div class="title">
    <h4>Create a new quiz</h4>
  </div>
  <form class="container" #f="ngForm" (ngSubmit)="createQuiz(f)">
    <div class="form-group">
      <label class="mb-1" for="quizname">Quizname</label>
      <input type="text" name="quizname" class="form-control" autocomplete="off" id="quizname" ngModel required #quizname="ngModel">
    </div>

    <div class="form-group mt-2">
      <label class="mb-1" for="quiztype">Type</label>
      <select class="form-control" name="quiztype" id="quiztype" ngModel required #quiztype="ngModel">
        <option value="Training">Training</option>
        <option value="Test">Test</option>
      </select>
    </div>

    <div class="form-group mt-2">
      <label class="mb-1" for="description">Description</label>
      <input type="text" class="form-control" autocomplete="off" name="description" id="description" ngModel required
        #description="ngModel">
    </div>


    <button type="submit" class="btn" [disabled]="f.invalid">Create</button>
  </form>
  <p class="social-text" style="color: red;font-weight: bold;font-size: 20px;" *ngIf="avail">{{msg}}</p>
</div>