<!doctype html>
<html lang="en">

<head>
</head>

<body>
<div class="container-fluid">
  <div class="header">
    <img class="logo" src="./assets/img/stegaware_logo.png" />
    <div class="header-menu">
      <a   [routerLink]="['/student']"  class="nav-link" ><span class="ec ec-mortar-board"></span> Student</a>
      <a   [routerLink]="['/teacher']"  class="nav-link" ><span class="ec ec-mortar-board"></span> Teacher</a>
    </div>
    <div class="header-icons">
      <a><i class="fa-solid fa-heart"></i> made with love in enschede</a>
    </div>
  </div>
</div>
</body>

</html>
