<app-studentmenu></app-studentmenu>
<div *ngIf="loading; then thenBlock else myelseBlock"></div>
<ng-template #thenBlock>
  <app-loading></app-loading>
</ng-template>
<ng-template #myelseBlock>
  <div *ngIf="empty; else elseBlock">
    <div class="container mt-sm-5 my-1">
    <div style="margin-top: 50px;" class="d-flex justify-content-center">
      <div class="row">
        <div class="col-6">
          <h5 class="text-capitalize m-lg-5">No quiz found yet!</h5>
        </div>
        <div class="col-6">
        </div>
      </div>
</div>

    </div>
  </div>

  <ng-template #elseBlock>
    <div class="container mt-sm-5 my-1">
      <div class="bg-white p-3 border-bottom">
        <div class="d-flex flex-row justify-content-between align-items-center mcq">
      <div class="row">
        <div class="col-12">
          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Creator</th>
                <th scope="col">Questions</th>

              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let item of allquiz;index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{item.quizname}}</td>
                <td>{{item.quizdescription}}</td>
                <td>{{item.owneremail}}</td>
                <td>
                  <button (click)="playquiz(item)" class="btn btn-light">Play Quiz</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
          </div>
      </div>
    </div>
  </ng-template>
</ng-template>