
<app-teachernav></app-teachernav>
  <div *ngIf="loading; then thenBlock else myelseBlock"></div>
  <ng-template #thenBlock>
    <app-loading></app-loading>
  </ng-template>
  <ng-template #myelseBlock>
    <div *ngIf="empty; else elseBlock">
      <div style="margin-top: 50px;" class="d-flex justify-content-center">
        <div class="row">
          <div class="col-6">
            <h5 class="text-capitalize m-lg-5">Empty data!</h5>
            <h5 class="text-capitalize m-lg-5">No students found</h5>
          </div>
          <div class="col-6">
            <img src="../../../assets/img/empty.svg" alt="" class="img-fluid ">
          </div>
        </div>


      </div>
    </div>
    <ng-template #elseBlock>
      <table class="table table-hover w-550" style="border-top: 2px solid white;"
      >
        <thead>
          <tr>
            <th scope="col"><p class="main-content__title">id</p></th>
            <th scope="col"><p class="main-content__title">Username</p></th>
            <th scope="col"><p class="main-content__title"><p class="main-content__title">Score</p></th>
            <th scope="col"><p class="main-content__title"><p class="main-content__title">Delete</p></th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{user.username}}</td>
            <td>{{user.score}}</td>
            <td>             <button class="btn btn-link" (click)="delete(user)"><i class="fa fa-ban" aria-hidden="true"></i></button></td>



          </tr>

        </tbody>
      </table>
    </ng-template>
  </ng-template>